@charset "utf-8";

$tabs-link-active-border-bottom-color: #04AA51;
$tabs-link-active-color: #343434;
$tabs-link-hover-border-bottom-color: none;
$tabs-link-padding: 20px 50px;
.horizontal-logos-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

@import "../../node_modules/bulma/bulma.sass";
